&nbsp;
&nbsp;

<div class="row">
    <div class="column">
        <i class="fa fa-plane fa-2x"> 
            <div *ngIf="travel">
                <p>{{ travel }}</p>
              </div>
        </i>
    </div>
</div>

<div class="row">
    <div class="column">
        <div *ngIf="add" class="pag card text-center mt-5">
            <div class="card-body mt-auto">
                <form [formGroup]="Form">
                    <div class="row">
                        <div class="col-sm">
                             <label for="username" class="form-lable required">
                                 Expense Name
                             </label>
                             <div class="input-group">
                                 <input class="form-control" formcontrolname="ExpenseName">
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm">
                             <label for="username" class="form-lable required">
                                 Amount
                             </label>
                             <div class="input-group">
                                 <input class="form-control" formcontrolname="ExpenseAmount">
                             </div> 
                         </div>
                         <div class="col-sm">
                            <label for="username" class="form-lable required">
                                Category
                            </label>
                            <div class="input-group">
                                <select class="form-control" formcontrolname="ExpenseCategory">
                                    <option value="" disabled selected> Select category </option>
                                    <option value="accomodation">Accomodation</option>
                                    <option value="food">Food</option>
                                    <option value="event">Event</option>
                                    <option value="cultural place">Cultural place</option>
                                    <option value="transport">Transport</option>
                                  </select>
                            </div> 
                         </div>  
                     </div>
                     <div class="row">
                         <div class="col-8">
                             <label for="username" class="form-lable required">
                                 Place
                             </label>
                             <div class="input-group">
                                <input class="form-control" formcontrolname="ExpensePlace">
                            </div> 
                         </div>
                     </div>
                </form>
                <br>
                <button class="btn btn-dark" (click)="addExpense()">
                    <i class="fa fa-plus"></i>
                    Add expense
                </button>
                <button class="btn btn-dark ml-5" (click)="form()">
                    <i class="fa fa-times"></i>
                    Cancel
                </button>  
             </div>
         </div>
        <br>
        <div *ngIf="!add" class="text-center">
            <button class="btn btn-dark" (click)="form()">
                <i class="fa fa-plus"></i>
                Add an expense
            </button>
            <br> <br>
            <button class="btn btn-dark" (click)="completeTravel()">
                Complete Travel
            </button>
        </div>
        
    </div>
    
    
    <div class="column">
        <div class="pag card text-center">
            <div class="card-body mt-auto">
                <div *ngFor="let day of days">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-calendar" style="font-size:36px" ></i>
                                </div>
                                <div class="col-8">
                                    <h2>
                                        <a [routerLink]="['/days', day.date]" style="text-decoration: none; color: black">
                                            {{ day.date }}
                                        </a>
                                    </h2>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <select name="graph" id="comparegraph">
            <option value="" disabled selected> Select category </option>
            <option value="accomodation">Accomodation</option>
            <option value="food">Food</option>
            <option value="event">Event</option>
            <option value="cultural place">Cultural place</option>
            <option value="transport">Transport</option>
        </select>
        
        <!--placeholder, serve per far vedere dove andrà il graph chart più avanti-->
        <svg width="600" height="250">
            <rect x="170" y="20" rx="20" ry="20" width="250" height="200"
            style="fill:white;stroke:black;stroke-width:5;opacity:0.5" />
        </svg>
    </div>
    
    <div class="column"></div>
</div>
<br> <br> <br>

