<!--<p>travel-page works!</p>-->

&nbsp;
&nbsp;

<div class="row">
    <div class="column">
        <i class="fa fa-plane fa-2x"> 
            <div *ngIf="travel">
                <p>{{ travel.name }}</p>
              </div>
        </i>
    </div>
</div>

<div class="row">
    <div class="column">
        <div *ngIf="add" class="pag card text-center mt-5">
            <div class="card-body mt-auto">
                <form [formGroup]="Form">
                    <div class="row">
                        <div class="col-sm">
                             <label for="username" class="form-lable required">
                                 Expense Name
                             </label>
                             <div class="input-group">
                                 <input class="form-control" formcontrolname="ExpenseName">
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm">
                             <label for="username" class="form-lable required">
                                 Amount
                             </label>
                             <div class="input-group">
                                 <input class="form-control" formcontrolname="ExpenseAmount">
                             </div> 
                         </div>
                         <div class="col-sm">
                            <label for="username" class="form-lable required">
                                Category
                            </label>
                            <div class="input-group">
                                <select class="form-control" formcontrolname="ExpenseCategory">
                                    <option value="accomodation">Accomodation</option>
                                    <option value="food">Food</option>
                                    <option value="event">Event</option>
                                    <option value="cultural place">Cultural place</option>
                                    <option value="transport">Transport</option>
                                  </select>
                                <!--<input class="form-control" formcontrolname="ExpenseCategory">-->
                            </div> 
                         </div>  
                     </div>
                     <div class="row">
                         <div class="col-8">
                             <label for="username" class="form-lable required">
                                 Place
                             </label>
                             <div class="input-group">
                                <input class="form-control" formcontrolname="ExpensePlace">
                            </div> 
                         </div>
                     </div>
                </form>
             </div>
         </div>
        <br>
        <div *ngIf="add">
            <button class="btn btn-dark" (click)="addExpense()">
                <i class="fa fa-plus"></i>
                Add an expense
            </button>
            <button class="btn btn-dark ml-5" (click)="form()">
                <i class="fa fa-times"></i>
                Cancel
            </button>  
        </div>
        <div *ngIf="!add" class="text-center">
            <button class="btn btn-dark" (click)="form()">
                <i class="fa fa-plus"></i>
                Add an expense
            </button>
            <br> <br>
            <button class="btn btn-dark">
                <a href="main-page" class="btn btn-info">Complete the travel</a>
            </button>
        </div>
        
    </div>
    
    
    <div class="column">
        <div class="pag card text-center">
            <div class="card-body mt-auto">
                <div *ngFor="let day of days">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa fa-calendar" style="font-size:36px" ></i>
                                </div>
                                <div class="col-8">
                                    <h2>
                                        {{day}}
                                    </h2>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>
<br> 


