

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Account</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="modal-body">
              <h4><p> Are you sure to delete the Account? </p></h4>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="row">
          <div class="col-sm">
              <button type="button" class="btn btn-secondary" (click)="modal.dismiss('N')">
                  NO
              </button>
          </div>
          <div class="col-sm">
              <button type="button" class="btn btn-danger" (click)="modal.dismiss(''); deleteAccount()">
                  YES
              </button>
          </div>
      </div>
    </div>
</ng-template>
  

<div class="card account">
    <div class="card-body mt-auto">
        <div class="row center">
            <div>
                <i class="fa fa-user-circle-o fa-3x"></i>
                <h2>{{username}}</h2>
            </div>
        </div>
        <div class="info">
            <div class="row center mt-3">
                <h5>email: {{email}}</h5>
            </div>
            <div class="row center mt-3">
                <h5>{{travels_done}} Travels done</h5>
            </div>
            <div class="row center mt-3">
                <h5>{{days}} days on travel</h5>
            </div>
        </div>
        <div class="row center mt-3">
            <button type="button" class="btn btn-dark btn1" (click)="changePassword()">Change Password</button>
            <button type="button" class="btn btn-danger btn2" (click)="open(content)">Delete Account</button>
        </div>
    </div>
</div>
<div class="alert alert-danger error" role="alert" *ngIf="error">
    <h5>{{formError}}</h5>
</div>
