.account{
    margin: 0 auto;
    margin-top: 6%;
    border-radius: 40px;
    width: 24%;
}
.popup{
    margin-top: 12%;
}

.center {
    display: flex;
    justify-content: center;
  }

.error{
    margin: 0 auto;
    width: 22%;
    margin-top: 2%;
}

.btn1{
    margin-top: 2%;
}

.btn2{
    margin-top: 2%;
    margin-left: 5%;
}

.info{
    margin-top: 3%;
}