<div class="card account">
    <div class="card-body mt-auto">
        <div class="row">
            <div class="col-2">
                <i class="fa fa-user-circle-o fa-3x"></i>
            </div>
            <div class="col-6">
                <h2>My Account</h2>
            </div>
            <div class="col-4">
                <button class="btn btn-dark" (click)="logout()">
                    Logout
                </button>
            </div>
        </div>
        <div class="row center mt-3">
            <h5>Username</h5> 
        </div>
        <div class="row center mt-3">
            <h5>Email</h5>
        </div>
        <div class="row center mt-3">
            <h5>3 Travels done</h5>
        </div>
        <div class="row center mt-3">
            <h5>18 days on travel</h5>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-dark" (click)="changePassword()">
                    Change Password
                </button>
            </div>
            <div class="col">
                <button class="btn btn-danger ml-5" (click)="deleteAccount()">
                    Delete Account
                </button>
            </div> 
        </div>
    </div>
</div>
