.account{
    margin: 0 auto;
    margin-top: 6%;
    border-radius: 40px;
    width: 30%;
}

.center {
    display: flex;
    justify-content: center;
  }

.error{
    margin: 0 auto;
    width: 22%;
    margin-top: 2%;
}
