<div class="modal popup" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Delete account</h4>
            </div>
            <div class="modal-body">
                <h4><p> Are you sure to delete your account? </p></h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm">
                        <button type="button" class="btn btn-secondary" (click)="closePopUp()">
                            NO
                        </button>
                    </div>
                    <div class="col-sm">
                        <button type="button"class="btn btn-danger" (click)="deleteAccount()">
                            YES
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="card account">
    <div class="card-body mt-auto">
        <div class="row center">
            <div>
                <i class="fa fa-user-circle-o fa-3x"></i>
                <h2>{{username}}</h2>
            </div>
        </div>
        <div class="info">
            <div class="row center mt-3">
                <h5>email: {{email}}</h5>
            </div>
            <div class="row center mt-3">
                <h5>{{travels_done}} Travels done</h5>
            </div>
            <div class="row center mt-3">
                <h5>{{days}} days on travel</h5>
            </div>
        </div>
        <div class="btn-group btngroup" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark" (click)="changePassword()">Change Password</button>
                <button type="button" class="btn btn-danger" (click)="openPopUp()">Delete Account</button>
        </div>
    </div>
</div>
<div class="alert alert-danger error" role="alert" *ngIf="error">
    <h5>{{formError}}</h5>
</div>
