<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="Travel" class="modal-title text-center">Delete Travel: {{Travel.name}}</h4>
            </div>
            <div class="modal-body">
                <h4><p> Are you sure to delete the Travel? </p></h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm">
                        <button type="button" class="btn btn-secondary" (click)="closePopUp()">
                            NO
                        </button>
                    </div>
                    <div class="col-sm">
                        <button type="button"class="btn btn-danger" (click)="deleteTravel(Travel)">
                            YES
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="pag card text-center" *ngIf="travels.length == 0">
    <div class="card-body mt-auto">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-9">
                <h2> No travels added </h2>
            </div>
        </div>
    </div>
</div>

<div class="pag card text-center" *ngIf="!compares && travels.length > 0 && !selected">
    <div class="card-body mt-auto">
        <div *ngFor="let travel of travels | paginate: {itemsPerPage: 5, currentPage: p}">
            <div class="travels card m-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-plane fa-3x"></i>
                        </div>
                        <div class="col-8">
                            <h2 (click)="select(travel)">
                                {{travel.name}}
                            </h2>
                        </div>
                        <div class="col-3">
                            <button class="but" (click)="openPopUp(travel)">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-2" >
            <pagination-controls class="page" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="add" class="pag card text-center mt-5">
   <div class="card-body mt-auto">
       <form [formGroup]="Form" (submit)="addTravel()">
           <div class="row formrow">
               <div class="col-sm">
                    <label for="inputName" class="form-lable">Travel Name</label>
                    <div class="input-group">
                        <input type="string" id="inputName"class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row formrow">
                <div class="col-sm">
                    <label for="number" class="form-lable">
                        Daily Budget
                    </label>
                    <div class="input-group">
                        <input type="number" id="inputDailyBudget" class="form-control" formControlName="daily_budget" min="1">
                    </div> 
                </div>
                <div class="col-sm">
                    <label for="date" class="form-lable required">
                        Starting Day
                    </label>
                    <div class="input-group">
                        <input type="date" class="form-control" formControlName="start_date" min="{{today}}">
                    </div>
                </div>  
            </div>
            <div class="row formrow">
                <div class="col-8">
                    <label for="destination" class="form-lable required">
                        Destination
                    </label>
                    <div class="input-group" *ngFor="let d of indexDestination; let i = index">
                        <input class="form-control" id="destination" [(ngModel)]="destinations[i]" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-4">
                    <button type="button" class="plus" (click)="plus()">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" *ngIf="indexDestination.length> 1"class="minus" (click)="minus()">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>   
            </div>
            <div class="mb-3">
                <label for="username" class="form-lable required">
                    Description
                </label>
                <div class="input-group">
                    <input class="form-control" formControlName="description">
                </div>
            </div>
            <button type="submit" class="btn btn-dark">
                <i class="fa fa-plus"></i>
                Add
            </button>
            <button class="btn btn-dark ml-5" (click)="cancel()">
                <i class="fa fa-times"></i>
                Cancel
            </button>
       </form>
    </div>
    <div class="error" *ngIf="error">
        <h3>
            {{errorString}}
        </h3>
    </div>
</div>
<div class="m-5" *ngIf="!compares && !selected">
    <div *ngIf="!add" class="col-sm-12 text-center">
        <button class="btn btn-dark" (click)="cancel()">
            <i class="fa fa-plus"></i>
            Add a travel
        </button>
        <button class="btn btn-dark ml-5" (click)="compare()">
            <i class="fa fa-bar-chart"></i>
            Compare two travels
        </button>  
    </div>
</div>
<app-compare-page *ngIf="compares" [travels] = "travels"></app-compare-page>

<app-travel-page *ngIf="selected" [Travel]="Travel" [userToken]="token"></app-travel-page>