.plus{
    top: 36px;
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    border-radius: 100%;
    background: rgb(245,245,245) linear-gradient(rgb(245,245,245), rgb(188,192,193)) 50% 50% / calc(3em + .5em*2) calc(3em + .5em*2);
}

.minus{
    top: 88px;
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    border-radius: 100%;
    background: rgb(245,245,245) linear-gradient(rgb(245,245,245), rgb(188,192,193)) 50% 50% / calc(3em + .5em*2) calc(3em + .5em*2);
}

.but{
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    border-radius: 100%;
    background: rgb(245,245,245) linear-gradient(rgb(245,245,245), rgb(188,192,193)) 50% 50% / calc(3em + .5em*2) calc(3em + .5em*2);
}

.pag{
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 6%;
    width: 500px;
    
}

.travels{
    border-radius: 10px 10px 10px 10px;
}

.formrow{
    margin-top: 3%;
    margin-bottom: 3%;
}

.error{
    margin: 0 auto;
    width: 22%;
    margin-top: 2%;
}

.travel:hover{
    color: rgb(100, 100, 100);
    cursor: pointer;
}