<div class="card signupform">
    <div class="card-body mt-auto">
        <form>
            <div class="mb-3 inputfield">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 inputfield">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 inputfield">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="mb-3 inputfield">
                <label for="inputRepeatPassword" class="form-label">Repeat password</label>
                <input type="password" class="form-control" id="inputRepeatPassword">
            </div>
            <button type="submit" class="btn btn-dark submitbtn" (click)="submit()">Submit</button>
        </form>
    </div>
</div>
