<div class="card changepwform">
    <div class="card-body mt-auto">
        <form [formGroup] = "form" (ngSubmit)="change()">
            <div class="mb-3 inputfield">
                <label for="inputOldPassword" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="inputOldPassword" aria-describedby="emailHelp" formControlName="oldpassword">
            </div>
            <div class="mb-3 inputfield">
            <label for="inputNewPassword" class="form-label">New password</label>
            <input type="password" class="form-control" id="inputNewPassword" formControlName="password">
            </div>
            <div class="mb-3 inputfield">
                <label for="inputRepeatPassword" class="form-label">Repeat password</label>
                <input type="password" class="form-control" id="inputRepeatPassword" formControlName="repeatpassword">
            </div>
            <button type="submit" class="btn btn-dark submitbtn">Change password</button>
        </form>
    </div>
</div>
<div class="alert alert-danger error" role="alert" *ngIf="error">
    <h5>{{formError}}</h5>
</div>