<div class="card changepwform">
    <div class="card-body mt-auto">
        <form>
            <div class="mb-3 inputfield">
                <label for="inputOldPassword" class="form-label">Old Password</label>
                <input type="text" class="form-control" id="inputOldPassword" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 inputfield">
            <label for="inputNewPassword" class="form-label">New password</label>
            <input type="password" class="form-control" id="inputNewPassword">
            </div>
            <div class="mb-3 inputfield">
                <label for="inputRepeatPassword" class="form-label">Repeat password</label>
                <input type="password" class="form-control" id="inputRepeatPassword">
            </div>
            <button type="submit" class="btn btn-primary submitbtn" (click)="change()">Change password</button>
        </form>
    </div>
</div>