.changepwform{
    width: 30%;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: large;
}

.submitbtn{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: large;
}

.inputfield{
    padding-top: 1%;
    padding-bottom: 1%;
}