<div class="card loginform">
    <div class="card-body mt-auto">
        <div class="col-2 icon">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
        </div>
        <form [formGroup]  = "form" (ngSubmit)="submit()">
            <div class="mb-3 inputfield">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" formControlName="email">
            </div>
            <div class="mb-3 inputfield">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" formControlName="password">
            </div>
            <button type="submit" class="btn btn-dark submitbtn">Log in</button>
        </form>
        <p>Don't have an account?
            <a href="sign-up" class="link-light">
            <h5>Sign up now!</h5></a>
        </p>
    </div>
</div>
<div class="alert alert-danger error" role="alert" *ngIf="error">
    <h5>{{formError}}</h5>
</div>
