<div class="card loginform">
    <div class="card-body mt-auto">
        <form>
            <div class="mb-3 inputfield">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 inputfield">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-dark submitbtn" (click)="submit()">Submit</button>
        </form>
        <p>Don't have an account?
            <a href="sign-up" class="link-light">
            <h5>Sign up now!</h5></a>
        </p>
    </div>
</div>