<div class="compare">
    <h1> Compare Two Travels </h1>
    <div class="row mt-5">
        <div class="col">
            <div class="card travel">
                <div class="card-body mt-auto">
                    <select name="travels" id="travels1" class="travels" (change)="selectTravel($event.target.value,1)">
                        <option value="" disabled selected> Travels </option>
                        <option *ngFor="let travel of travels" value="{{travel.name}}"> {{travel.name}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card travel">
                <div class="card-body mt-auto">
                    <select name="travels" id="travels2" class="travels" (change)="selectTravel($event.target.value,2)">
                        <option value="" disabled selected> Travels </option>
                        <option *ngFor="let travel of travels" value="{{travel.name}}"> {{travel.name}} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div>
            <select name="chart" id="chart" (change)="selectChart($event.target.value)">
                <option value="" disabled selected> Select Charts</option>
                <option value="barChart"> Bar Chart </option>
                <option value="pieChart"> Pie Chart </option>
            </select>
        </div>
        <div class="card _chart" *ngIf="chartType">
            <div style="display: block" *ngIf="chartType=='barChart'">
              <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType">
              </canvas>
            </div>
            <div class="row">
                <div class="col">
                    <div class="chart" *ngIf="chartType=='pieChart'">
                        <canvas baseChart
                            [data]="pieChartData1"
                            [type]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins">
                        </canvas>
                    </div>
                </div>
                <div class="col">
                    <div class="chart" *ngIf="chartType=='pieChart'">
                        <canvas baseChart
                            [data]="pieChartData2"
                            [type]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

