.compare{
    margin-top: 6%;
}

.travel{
    width: 80%;
    left: 8%;
    border-radius: 40px;
}

.travels{
    width: 40%;
    border-color: black;
    border-radius: 10px;
}

.compares{
    border-radius: 10px;
    width: 20%;
}

._chart{
    height: auto;
    width: auto;
    padding: 35px;
    border-radius: 10px 10px 10px 10px;
}