<div class="compare">
    <h1> Compare Two Travels </h1>
    <div class="row mt-5">
        <div class="col">
            <div class="card travel">
                <div class="card-body mt-auto">
                    <select name="travels" id="travels1" class="travels" (change)="selectTravel($event.target.value,1)">
                        <option value="" disabled selected> Travels </option>
                        <option *ngFor="let travel of travels" value="{{travel.name}}"> {{travel.name}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card travel">
                <div class="card-body mt-auto">
                    <select name="travels" id="travels2" class="travels" (change)="selectTravel($event.target.value,2)">
                        <option value="" disabled selected> Travels </option>
                        <option *ngFor="let travel of travels" value="{{travel.name}}"> {{travel.name}} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="card _chart">
            <div style="display: block">
              <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType">
              </canvas>
            </div>
          </div>
    </div>
</div>

