.compare{
    margin-top: 2%;
}

.travels{
    width: 40%;
    border-color: black;
    border-radius: 10px;
}

.compares{
    border-radius: 10px;
    width: 20%;
}

._chart{
    height: auto;
    width: 75%;
    margin: 0 auto; 
    padding: 35px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 4%;
}


.chart{
    width: 50%;
}