<!DOCTYPE html>
<html>


<body class="bg">
  <header *ngIf="cookie">
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav">
            <li><a id="len1" class="hoverable" href="/main-page" style="text-decoration: none">Home</a></li>
            <li><a id="len2" class="hoverable" href="/account" style="text-decoration: none">Account</a></li>
            <li><a id="len3" class="hoverable" href="" (click)="logout()" style="text-decoration: none">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
</body>

</html>
