<!DOCTYPE html>
<html>


<body>
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav">
            <li><a id="len1" class="hoverable" href="/main-page" style="text-decoration: none">Home</a></li>
            <li><a id="len2" class="hoverable" href="#" style="text-decoration: none">About</a></li>
            <li><a id="len3" class="hoverable" href="#" style="text-decoration: none">Portfolio</a></li>
            <li><a id="len4" class="hoverable" href="/account" style="text-decoration: none">Account</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
</body>

</html>
